.modal-footer{
    line-height: 45px!important;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    color: #fff;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: #fd9827;
    text-transform: uppercase;
    outline: none;
}