<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container">
      <banner-room></banner-room>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Tin rao gần đây</h3>
            </div>
            <div class="card-body">
              <room-list [rooms]="rooms" [layoutColumns]=6></room-list>
            </div>
            <div class="card-footer paging-center clearfix">
                
                <a [routerLink]="['/thue-phong-tro']" class="more-rooms" *ngIf="remainingRooms>0">Xem thêm {{remainingRooms}} tin khác</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->