<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">
            Top Navigation <small>Example 3.0</small>
          </h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Layout</a></li>
            <li class="breadcrumb-item active">Top Navigation</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->

  <div class="content">
    <div class="container">
      <div class="card-body">
        <div class="card card-success">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-3"><img class="imgUser" src="../../../assets/img/photo4.jpg" alt=""></div>
                  <div class="col-md-9">
                    <div class="col-md-12">
                      <span>Trần Thanh Bình</span>
                    </div>
                    <a class="theodoi" href="">
                      <div class="col-md-6">
                        <span>Người theo dõi</span>
                      </div>
                      <div class="col-md-6">
                        <span>Theo dõi</span>
                      </div>
                    </a>
                    <div class="row">
                      <div class="col-md-10">
                        <button type="button" class="btn btn-outline-dark">Chỉnh sửa trang cá nhân</button>
                      </div>
                      <div class="col-md-2">...</div>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-6">sdadasd</div>
            </div>
          </div>
        </div>
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Tin đã đăng</h3>
            </div>
            <div class="card-body">
              <room-list [rooms]="userPostedRooms"></room-list>
            </div>
          </div>
          <!-- /.card -->

      </div>
    </div>
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->