
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container">
      <banner-room></banner-room>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Bất động sản </h3>
              <app-filter  (onFilterChange)="filter($event)" ></app-filter>
              <i (click)="vertical=!vertical" [ngClass]="!vertical ? 'fas fa-th float-right' : 'fas fa-list float-right'"></i>
            </div>
            <div class="card-body">
              <div class="row">
                  <room-list [rooms] = "rooms" [layoutColumns]=4 [vertical]="vertical"></room-list>
              </div>
            </div>
            <div class="card-footer paging-center clearfix">
                <paging [totalPages]="totalPages" (onChangePage)="reloadPagingData($event)"></paging>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          Tin tuc
        </div>
      </div>
    </div>
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->