<div *ngIf="!vertical">
  <img class="room-image room-image-grid"
  [src]="this.roomImageUrl" />
  <div class="room-title">{{room.title.toString()}}</div>
  <span class="room-area">{{room.area}} m2 - 10PN</span>
  <span class="room-price">{{room.price}}</span>
</div>

<div class="row" *ngIf="vertical">
  <div class="col-md-2" style="padding: 5px;">
    <img class="room-image room-image-vertical"
    [src]="this.roomImageUrl" />
  </div>
  <div class="col-md-10">
    <div class="room-title">{{room.title.toString() | excerpt }}</div>
    <span class="room-area">{{room.area}} m2 - 10PN</span>
    <span class="room-price">{{room.price}}</span>
  </div>
</div>