<div id="imageSlideshow" class="carousel slide" data-ride="carousel">
  <!-- <ol class="carousel-indicators">
    <li data-target="#imageSlideshow" *ngFor="let image of images; index as idx"></li>
  </ol> -->
  <div class="carousel-inner">
    <div *ngFor="let image of images; index as idx" [ngClass]="index == idx ? 'carousel-item active' : 'carousel-item'">
      <img class="d-block w-100" [src]="serverAddress + '/' + image.url" alt="">
    </div>
  </div>
  <a class="carousel-control-prev" href="#imageSlideshow" role="button" data-slide="prev" (click)="prev()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#imageSlideshow" role="button" data-slide="next" (click)="next()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

