/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}

.box {
  transition: box-shadow .3s;
  // width: 300px;
  // height: 500px;
  // margin: 50px;
  // border-radius:10px;
  // border: 1px solid #ccc;
  background: #fff;
  float: left;
  
}
.box:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.2); 
}

.paging-center {
  display: flex;
  margin: 1px 0;
  justify-content: center;
  padding: 12px 0;
  flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 960px !important;
  }
}